
services:
  web:
    build: .
    env_file:
      - .env
    restart: unless-stopped
    command: >
      sh -c "uv run python manage.py migrate && uv run gunicorn lowen_derape.wsgi:application --bind 0.0.0.0:8000"

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./lowen_derape/static:/staticfiles
    restart: unless-stopped
