
services:
  web:
    build: .
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./lowen_derape/db.sqlite3:/app/lowen_derape/db.sqlite3
    command: >
      sh -c "uv run python manage.py migrate && uv run gunicorn lowen_derape.wsgi:application --bind 0.0.0.0:8000"

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./lowen_derape/static:/staticfiles
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/lib/letsencrypt:/var/lib/letsencrypt
    restart: unless-stopped
